img.rss-icon {
    height: 1.1em;
}
table {
    border-collapse: separate;
    border-spacing:  5px;
}
td {
    vertical-align: top;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
