img.rss-icon {
    height: 1.1em;
}

table {
    border-collapse: separate;
    border-spacing:  5px;
}

td {
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

blockquote {
    font-size: 100%;
    font-style: italic;
}

ol, ul {
    padding-left: 1.2em;
}
